.wp-block-wpblocks-team-members {
	display: grid;
	gap: 10px;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}

	.wp-block-wpblocks-team-member {

		h4 {
			color: #222;
			font-size: 22px;
			margin: 0;
			font-weight: 600;
		}

		p {
			color: #555;
			margin-bottom: 5px;
			margin-top: 5px;
		}
	}
}
